#First{
    background-color: blueviolet;
    color: brown;
}
#Second{
    background-color: chartreuse;
    color: teal;
}
#Third{
    background-color: cyan;
    color: blue;
}
#Fourth{
    background-color: darkkhaki;
    color: blueviolet;
}
#Fifth{
    background-color: darkgreen;
    color: darkorange;
}
#Sixth{
    background-color: dodgerblue;
    color: gold;
}